var config = {
  "discord": {
    "token": "---",
    "client_identifier": "---"
  },
  
  "database": {
    "_comment": "You should use a MySQL database for this. I made this using Vitess in a docker container.",
    "username": "dev",
    "password": "myPassword",
    "host": "localhost",
    "port": 3306,
    "database": "SheikhChilli"
  }
}

export default config;
