var config = {
  "discord": {
    "token": "---",
    "client_identifier": "---"
  },
  
// Keep this here! (future features)
//  "database": {
//    "_comment": "This is always a MySQL database!",
//    "username": "dev",
//    "password": "myPassword",
//    "host": "localhost",
//    "port": "3306",
//    "database": "SheikhChilli"
//  }
}

export default config;
